.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid #c9c9c9;
  cursor: pointer;
  transition: all 0.2s;
  h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 400;
    transition: all 0.4s;
  }
  h3 {
    font-size: 30px;
    margin-bottom: 0.5em;
    color: var(--primary);
  }
  p {
    transition: all 0.4s;
    font-weight: 300;
  }
  &:last-of-type {
    border-bottom: 1px solid #c9c9c9;
  }
  &:hover {
    opacity: 0.5;
    h2 {
      transform: translateX(-10px);
    }
    p {
      transform: translateX(10px);
    }
  }
}
.logoicon {
  width: 150px;
  margin-right: 1em;
}
@media (max-width: 700px) {
  .project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    border-top: 1px solid #c9c9c9;
    cursor: pointer;
    transition: all 0.2s;
    h2 {
      font-size: 20px;
      margin: 0;
      font-weight: 400;
      transition: all 0.4s;
      margin-right: 1em;
    }
    h3 {
      font-size: 18px;
      color: var(--primary);
    }
    p {
      transition: all 0.4s;
      font-weight: 300;
      font-size: 10px;
    }
    &:last-of-type {
      border-bottom: 1px solid #c9c9c9;
    }
    &:hover {
      opacity: 0.5;
      h2 {
        transform: translateX(-10px);
      }
      p {
        transform: translateX(10px);
      }
    }
  }
}
