.services__experties {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0;
}
.services__experties__heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 0 2em;
}
.services__experties__info {
  font-size: 16px;
  color: #bdbdbd;
  margin-bottom: 3em;
  width: 100%;
  text-align: center;
  max-width: 700px;
  padding: 0 2em;
}
.services__experties__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 0 2em;
}
.services__experties__content__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 3em;
}
.services__experties__content__left__entry {
  display: flex;
  margin-bottom: 2em;
}
.services__experties__content__left__entry__icon {
  margin-right: 1em;
}
.services__experties__content__left__entry__content {
  display: flex;
  flex-direction: column;
}
.services__experties__content__left__entry__content__heading {
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 0.5em;
}
.services__experties__content__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__experties__content__right__img {
  width: 100%;
  max-width: 500px;
}
.services__how__we__do__it {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0;
}
.services__how__we__do__it__reverse {
  background-color: #000;
}
.services__how__we__do__it__heading {
  font-size: 40px;
  margin-bottom: 0.5em;
  width: 100%;
  max-width: 700px;
  text-align: center;
}
.services__how__we__do__it__reverse .services__how__we__do__it__heading {
  color: white;
}
.services__how__we__do__it__info {
  font-size: 16px;
  color: #bdbdbd;
  margin-bottom: 3em;
  text-align: center;
  width: 100%;
  max-width: 900px;
  padding: 0 2em;
}
.services__how__we__do__it__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 0 2em;
  flex-wrap: wrap;
}
.services__how__we__do__it__content__entry {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.services__how__we__do__it__content__entry:last-child
  .services__how__we__do__it__content__entry__icon::after {
  display: none;
}
.services__how__we__do__it__content__entry__icon {
  width: 80px;
  min-height: 80px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  transition: 300ms ease-in-out;
}
.services__how__we__do__it__content__entry__icon::after {
  content: "";
  position: absolute;
  left: calc(50% + 55px);
  width: calc(100% - 90px);
  border-bottom: 1px dashed #bdbdbd;
  top: 40px;
  z-index: 0;
}
.services__how__we__do__it__reverse
  .services__how__we__do__it__content__entry__card {
  background-color: #272727;
  color: white;
  border-color: #272727;
}
.services__how__we__do__it__content__entry__card {
  padding: 2.5em;
  padding-bottom: 2em;
  border-radius: 20px;
  border: 1px solid #6b6b6b;
  width: 100%;
  height: 100%;
  transition: 300ms ease-in-out;
}
.services__how__we__do__it__content__entry__card__heading {
  font-size: 25px;
  width: 100%;
  max-width: 200px;
  margin-bottom: 1em;
}
.services__how__we__do__it__content__entry__card__content {
  display: flex;
  flex-direction: column;
}
.services__how__we__do__it__content__entry__card__content__entry {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
}
.services__how__we__do__it__content__entry__card__content__entry__dot {
  margin-right: 1em;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50px;
  transition: 300ms ease-in-out;
}
.services__how__we__do__it__content__entry:hover
  .services__how__we__do__it__content__entry__icon {
  transition: 300ms ease-in-out;
  background-color: var(--primary);
  color: white;
}
.services__how__we__do__it__content__entry:hover
  .services__how__we__do__it__content__entry__card {
  transition: 300ms ease-in-out;
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}
.services__how__we__do__it__content__entry:hover
  .services__how__we__do__it__content__entry__card
  .services__how__we__do__it__content__entry__card__content
  .services__how__we__do__it__content__entry__card__content__entry
  .services__how__we__do__it__content__entry__card__content__entry__dot {
  transition: 300ms ease-in-out;
  background-color: white;
}
.industries__solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7em 0;
  background-color: #efefef;
}
.industries__solutions__heading {
  font-size: 45px;
  margin-bottom: 0.5em;
  padding: 0 2em;
  text-align: center;
}
.industries__solutions__info {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 2em;
  margin-bottom: 2em;
  color: #5b5b5b;
}
.industries__solutions__content {
  width: 100%;
}
.industries__solutions__content__card {
  background-color: white;
  padding: 2.5em;
  border-radius: 10px;
  min-height: 300px;
}
.industries__solutions__content__card__img {
  height: 60px;
}
.industries__solutions__content__card__heading {
  font-size: 22px;
  color: #000;
  margin: 0.5em 0;
  font-weight: bold;
}
@media (max-width: 900px) {
  .services__how__we__do__it__content {
    justify-content: center;
  }
  .services__experties__content__left {
    margin-right: 0;
  }
  .services__experties__content__right {
    display: none;
  }
  .services__how__we__do__it__content {
    justify-content: center;
  }
  .services__how__we__do__it__content__entry {
    width: 48%;
    margin: 1%;
  }
  .services__how__we__do__it__content__entry:last-child {
    margin-top: 3em;
  }
  .services__how__we__do__it__content__entry__icon::after {
    display: none;
  }
  .services__how__we__do__it__content__entry__card__heading {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .services__how__we__do__it__content__entry {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }
}
