.zood__over__section {
  padding: 2em 7em;
}
.zood__message__section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(90deg, var(--primary) 0%, #fffcf8 100%);
  padding: 2px 0 1px 2px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.zood__message__section__overlay {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}
.rtl .zood__message__section__overlay__text {
  align-items: flex-end;
}
.zood__message__section__overlay__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em 4em;
  text-align: start;
}
.zood__message__section__overlay__text__heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.4em;
}
.zood__message__section__overlay__text__sub__heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.4em;
  color: black;
}
.rtl .zood__message__section__overlay__text__sub__text {
  padding-right: 0;
  text-align: right;
}
.zood__message__section__overlay__text__sub__text {
  padding-right: 6em;
}
.zood__message__section__overlay__img {
  width: 100%;
  position: relative;
}
.zood__message__section__overlay__img img {
  position: absolute;
  height: 270px;
  top: -9em;
  right: -30px;
  object-fit: contain;
}
@media (max-width: 1150px) {
  .zood__message__section__overlay__img {
    max-width: 900px;
    width: 100%;
  }
  .zood__message__section__overlay__text__sub__text {
    padding-right: 0;
    text-align: justify;
  }
}
@media (max-width: 950px) {
  .zood__over__section {
    padding: 1em 4em;
  }
  .zood__message__section__overlay__text {
    padding: 1em 2em;
  }
  .zood__message__section__overlay__img img {
    right: 0;
    top: -7.5em;
    height: 220px;
  }
}
@media (max-width: 750px) {
  .zood__message__section__overlay__text__sub__heading {
    font-size: 24px;
  }
  .zood__message__section__overlay {
    padding: 1em 0;
  }
  .zood__message__section__overlay {
    flex-direction: column-reverse;
  }
  .zood__message__section__overlay__img img {
    position: unset;
  }
  .zood__over__section {
    padding: 2em;
  }
}
@media (max-width: 650px) {
  .zood__message__section {
    background: linear-gradient(180deg, var(--primary) 0%, #fffcf8 100%);
  }
}
